.centerBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-width: 2px;
	border-color: var(--grey-3);
	border-radius: 5px;
	border-style: solid;
	padding: 5vh 2vw;
	background-color: var(--grey-2);
}

.centerBox h1 {
	font-size: calc(3vmin + 10px);
}