.newCommentBox {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: var(--grey-3);
	padding: 10px;
	border-radius: 10px;
}

.newCommentBox textarea {
	border-radius: 10px;
	margin: 5px;
	width: 50vw;
	height: 10vh;
	resize: none;
	padding: 10px;
}

.newCommentBox button {
	border: none;
	border-radius: 10px;
	background-color: #0259a0;
	color: white;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
	font-size: calc(2vmin + 5px);
	cursor: pointer;
}

.authorImg {
	background: #c4c4c4;
	border-radius: 50%;
}

.comment {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: var(--grey-3);
	border-radius: 5px;
	margin: 10px;
}

.inner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.commentDiv {
	width: 80%;
}

.commentText {
	padding: 10px;
	background: var(--grey-2);
	border-radius: 5px;
	width: 90%;
	height: 100%;
}

.timestamp {
	font-size: calc(2vmin + 5px);
	font-style: oblique;
}
