.newCommentBox {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: var(--grey-3);
	padding: 10px;
	border-radius: 10px;
}

.newCommentBox img {
	background: #c4c4c4;
	border-radius: 50%;
}

.newCommentBox span {
	padding: 1px !important;
	min-height: 100% !important;
}

.newCommentBox textarea {
	border-radius: 10px;
	margin: 5px;
	width: 50vw;
	height: 10vh;
	resize: none;
	padding: 10px;
}

.newCommentBox button {
	border: none;
	border-radius: 10px;
	background-color: #0259a0;
	color: white;
	padding: 10px;
	font-family: "Dosis", sans-serif;
	font-size: calc(2vmin + 5px);
	cursor: pointer;
}
