.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.label,
.form label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: "Dosis", sans-serif;
}

.label input,
.form label input {
	background: #788cce;
	border-radius: 10px;
	border: none;
	height: 3.5vh;
	padding: 1vh 1vw;
}

.submit {
	align-self: center;
}

.checkboxLabel {
	flex-direction: row !important;
}
