@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.centered {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav-grid-cols {
		grid-template-columns: 50px repeat(auto-fit, minmax(100px, 1fr));
	}

	.card-grid-cols {
		grid-template-columns: 3fr 2fr;
	}
}

:root {
	--grey-1: #4c4c63;
	--grey-2: #454554;
	--grey-3: #3b3b4f;
	--grey-4: #23272a;
}

html,
body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	text-align: center;
	background-color: var(--grey-4);
}

h1,
h2,
h3,
h4,
p {
	margin: 0px;
	padding: 0px;
}

label,
h2,
h3,
h4 {
	font-family: var(--font-dosis), sans-serif;
}

p {
	font-family: var(--font-open-sans), sans-serif;
}

a {
	color: #ffffff;
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1.5vh;
	padding-top: 1.5vh;
}

hr {
	width: 20vw;
}
