.head {
	background: #0259A0;
	font-family: "Dosis", sans-serif;
}

.head h2 {
	font-size: calc(5vmin + 15px);
}

.actionDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.actionDiv hr{
	width: 20vh;
}